
body {
  background-color: #f4f4f4;
  overflow: hidden;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  width: 460px;
  text-align: center;
  margin-top: 1rem;
}

main {
  display: flex;
  justify-content: center;
}
textarea {
  resize: none;
}
.space{
  padding: 2rem;
}
